body {
    height: 1000px;
    background-color: #c6e9c8;
}

.duttons {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;

    height: 270px;
    width: 100%;
    background-color: #c6e9c8;
}

.d1 {
    height: 260px;
    width: 200px;
    background-color: #fda6ab;
}

.dutton {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;

    height: 100px;
    width: 100%;
    background-color: #c6e9c8;
}