body {
    height: 1000px;
    background-color: #c6e9c8;
}

.duttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;

    height: 380px;
    width: 100%;
    background-color: #c6e9c8;
}

.d1 {
    height: 360px;
    width: 300px;
    background-color: #fda6ab;
    display: inline-block;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0, 0.1);
    
}

.d1 img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
    display: block;

    transition: transform 0.3s ease;

}
.dutton {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;

    height: 100px;
    width: 100%;
    background-color: #c6e9c8;
}
.duttons a.d1:hover {
    animation: pulse 0.2s ease-out forwards;

}
.dutton a.d1:hover{
    animation: pulse 0.2s ease-out forwards;

}
.duttons a.d1:active {
    transform: scale(0.95);
    transition: transform 0.1s ease;
}
@keyframes pulse {
    from{
    transform: scale(1);
    }
    to {
        transform: scale(1.05);
    }

}
