
* {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: bold;
}
body {
    cursor: url("images/cursor.png"), auto;
    background-color: #b6d0fa;
}

header {
    font-size: 60px;
    margin: 10px;
    padding: 10px;
}

.header1 {
    background-color: white;
    border-radius: 15px; 
    text-align: center;
}

.white-box {
    height: 70px;
    padding: 20px;
    background-color: white;
    border-radius: 15px; 
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 10px;
}
<<<<<<< HEAD
.d1 {
    display: inline-block;
    cursor: url("images/point.png"), pointer;
}

.d1 img {
    cursor: url("images/point.png"), pointer;
=======

.card 
{
    background-color: white;
    margin-top: 15px;
    padding: 10px;
    border-radius: 15px; 
>>>>>>> e60e95981b26a4132b64b45be17a5f13eddb7921
}